.converter-container, .history-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-family: arial, ui-sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin: 15px 0;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  width: 35%;
  background: #f81111;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
}

.clearButton {
  margin: 10px 5px;
  padding: 10px 20px;
  width: 35%;
  background: #e3e3e3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
}

button:hover {
  background: #c32525;
}

.clearButton:hover {
  background: #aeaeae;
}

.result {
  margin-top: 20px;
  padding: 10px;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  font-weight: bold;
}

.history {
  margin-top: 20px;
  font-weight: bold;
}

.help-note {
  color: grey;
  font-style: italic;
  font-size: 11pt;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.history-container {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.history-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.history-item:last-child {
  border-bottom: none;
}

.conversion-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conversion-type {
  color: #db0000;
}

.timestamp {
  font-size: 0.9em;
  color: #666;
}

.subtype {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.from {
  width: 80%;
  display: inline-block;
  vertical-align: top;
}

.full-width {
  width: 100%;
}
